<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="/home/harshit/fullstack/vagrant/static/bootstrap.min.css">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="/home/harshit/fullstack/vagrant/static/style.css">
<body>
<div class="title">
    <h1 >Restaurants</h1></div>
    <div class="container-fluid center-block body">
    <div class="lk "><p> <a href="{{url_for('restaurantNew')}}">Add New Restaurants</a></p></div>
    <div class="container-fluid">
	{%with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{%for message in messages%}
		<l1><strong>{{ message }} </strong> </li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
        </div>
{% for i in restaurant %}

<div class="row">
<div class="name col-md-6 col-sm-6 col-lg-6 col-xs-6 container-fluid">
    <a href="{{url_for('restaurantMenu',restaurant_id=i.id)}}">{{i.name}}</aa>
    </div>
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 linkC container-fluid">
    <div class="lk container-fluid"> <a href="{{url_for('restaurantEdit',restaurant_id = i.id)}}">edit </a></div>
    <div class="lk container-fluid"><a href="{{url_for('restaurantDelete',restaurant_id = i.id)}}">delete </a></div>
    </div>
</div>


{% endfor %}
</div>
</body>

</html>
